acryl-datahub==0.8.39
avro==1.10.2
avro-gen3==0.7.4
backports.zoneinfo==0.2.1
bigquery-sql-parser==0.0.3
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.1.3
click-default-group==1.2.2
Deprecated==1.2.13
docker==5.0.3
entrypoints==0.4
expandvars==0.9.0
humanfriendly==10.0
idna==3.3
MarkupSafe==2.0.1
mixpanel==4.9.0
mypy-extensions==0.4.3
numpy==1.23.0
packaging==21.3
pandas==1.4.3
progressbar2==4.0.0
psutil==5.9.1
pydantic==1.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-utils==3.3.3
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
ratelimiter==1.2.0.post0
requests==2.28.0
six==1.16.0
sql-metadata==2.6.0
sqlparse==0.4.2
stackprinter==0.2.6
tabulate==0.8.10
termcolor==1.1.0
toml==0.10.2
types-Deprecated==1.2.9
types-termcolor==1.1.5
typing-inspect==0.7.1
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
websocket-client==1.3.3
wrapt==1.14.1
